@if (HasText(Model.Description))
{
    var body = new HtmlString(Model.Description.ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>"));
<div class="content-description department-description">
    <p>@Model.Description</p>
</div>
}