<h4 class="media-heading text-uppercase reviews">
    <span class="glyphicon glyphicon-share-alt"></span>@Model.ContentPart.Owner.UserName
</h4>
<ul class="media-date text-uppercase reviews list-inline">
    <li class="dd">@Model.ContentPart.CreatedUtc.Day</li>
    <li class="mm">@Model.ContentPart.CreatedUtc.Month</li>
    <li class="aaaa">@Model.ContentPart.CreatedUtc.Year</li>
</ul>